In [1]:
import pandas as pd
import numpy as np
import os

In [6]:
df = pd.read_csv("Resources/VSRR_Provisional_Drug_Overdose_Death_Counts.csv")
df

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Methadone (T40.3),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,Cocaine (T40.5),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,Heroin (T40.1),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
23695,YC,2019,January,12 month-ending,Heroin (T40.1),602,100,0.069712,New York City,Underreported due to incomplete data.,*,605
23696,YC,2019,January,12 month-ending,Number of Drug Overdose Deaths,"1,453",100,0.069712,New York City,Underreported due to incomplete data.,*,"1,461"
23697,YC,2019,January,12 month-ending,Number of Deaths,"54,510",100,0.069712,New York City,Underreported due to incomplete data.,*,NaN
23698,YC,2019,January,12 month-ending,"Opioids (T40.0-T40.4,T40.6)","1,135",100,0.069712,New York City,Underreported due to incomplete data.,*,"1,142"
23699,YC,2019,January,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",836,100,0.069712,New York City,Underreported due to incomplete data.,*,845